.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.input {
    padding: 0.5rem;
    font-weight: 300; 
    border-radius: 0.375rem;
    width: 50%; 
}

.input::placeholder {
    opacity: 0.6;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px; 
}
  
label {
    margin-right: 10px;
}

input:hover, input:active, input:focus {
    border: 1px solid #a0a7b0;
    border-radius: 0.375rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selectContainer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.selectContainer select {
    width: 200px;
    font-size: 16px;
}